


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
    outline: none;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* centraliza verticalmente */
  min-height: 100vh;        /* ocupa toda a tela */
  background-image: url("./assets/Design\ sem\ nome\ \(7\).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #1010f7;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0707b5;
}
   

/* já deixa o GIF sem margem embaixo */
.logo{
  width: 300px;
  display: block;
  margin: 1px auto 0;
}

/* puxa o <main> pra cima “invadindo” o espaço do GIF */
main{
  background-color: #fcfafa;
  border-radius: 20px;
  width: 375px;
  margin: -45px auto 0;   /* <<< ajuste aqui (-10, -20, -30…) */
  padding: 44px 24px 23px;
}

label{
    
    font-size: 14px;
    font-weight: 400;
    color: #b07d7d;

}

select, input {

    background-color: #fdfefe;
    width: 100%;
    height: 48px;
    border-radius: 4px; 
    border: 1px solid #74c3c3;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #1010f7;
    cursor: pointer;

}

button{
    background-color: #1010f7;
    width: 100%;
    height: 48px;
    border-radius: 5px; 
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;

}

button:hover{
    opacity: 0.8;
    
}
button:active{
    opacity: 0.6;
    
}

section{
   border: 1px solid #763ff8;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;

    display:flex;
    flex-direction: column;
    align-items: center;
}


.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    gap: 4px;

}

/* Bandeiras pequenas */
section .currency-box > img {
  width: 32px ;
  height: 32px;
  display: block;
  object-fit: contain;
  margin-bottom: 6px;
}

/* Seta entre as caixas */
section > img.arrow {
  width: 64px !important;
  height: auto !important;
  display: block;
  margin: 10px 0;
}

.currency{
    font-size: 20px;
    font-weight: 700;
    color: #1010f7;

}

.currency-value, currency-value-to-convert {
    font-size: 20px;
    font-weight: 700;
    color: #763ff8;

}

/* força a cor azul apenas no label com classe texto */
main label.texto,
main label.texto b {
  color: #1010f7 !important;
  font-weight: 600 !important;
}


